.footer {
    background-color: white;
    padding: 40px 0;
    .header__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .btn {
            background-color: tomato;
        }
    }  
}